{% extends "base.html" %}
{% load static %}

{% block title %}
Регистрация
{% endblock title %}

{% block content %}
<div id="auth_container" class="row" style="background-image: url('{% static 'images/signupImage.jpeg' %}');">
    <div class="s12">
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col s12">
                    <h5 class="center">Регистрация</h5>
                </div>
            </div>

            <div class="row {% if form.email.errors %} m-b-0 {% endif %}">
                <div class="input-field col s12">
                    {{ form.email }}
                    <label for="email">Адрес электронной почты</label>

                    {% if form.email.errors %}
                    <div class="error-container">
                        <span class="helper-text">Адрес уже используется</span>
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    {{ form.first_name }}
                    <label for="first_name">Имя</label>
                </div>

                <div class="input-field col s6">
                    {{ form.last_name }}
                    <label for="last_name">Фамилия</label>
                </div>
            </div>

            <div class="row {% if form.password2.errors %} m-b-0 {% endif %}">
                <div class="input-field col s6 {% if form.password2.errors %} m-b-0 {% endif %}">
                    {{ form.password1 }}
                    <label for="password1">Пароль</label>
                </div>

                <div class="input-field col s6 {% if form.password2.errors %} m-b-0 {% endif %}">
                    {{ form.password2 }}
                    <label for="password2">Повторите пароль</label>
                </div>
            </div>

            {% if form.password2.errors %}
            <div class="row">
                <div class="input-field col s12 error-container" style="margin: 0">
                    <span class="helper-text">Пароли не совпадают</span>
                </div>
            </div>
            {% endif %}

            <div class="row">
                <div class="col s12 center">
                    <button class="waves-effect btn" type="submit">Зарегистрироваться</button>
                </div>

                <div class="col s12 center">
                    <p><a href="{% url 'signin' %}">Уже зарегистрированы?</a></p>
                </div>
            </div>
        </form>
    </div>
</div>
<style>
    .container {
        width: 100vw;
        margin: 0;
    }
</style>
{% endblock content %}