{% extends "base.html" %}
{% load static %}

{% block title %}
Сообщения
{% endblock title %}

{% block content %}
<div id="chat_container" class="card">
    <div class="row">
        <div id="chats_list" class="col">
            <div class="row-section">
                <a href="{% url 'my_profile' %}">
                    <div class="col s3 center">
                        <img class="circle" src="{{ request.user.photo.url }}">
                    </div>

                    <div class="col s7">
                        <p>
                            {{ request.user.first_name }} {{request.user.last_name }}
                        </p>
                    </div>

                    <div class="col s2">
                        <a id="accounts" class="material-icons">add</a>
                    </div>
                </a>
            </div>

            <div style="overflow-y: auto; max-height: calc(100% - 80px);">
                {% for chat in chats %}
                {% include "chat/chat-list-item.html" %}
                {% endfor %}
            </div>
        </div>

        <div id="accounts_list" class="col">
            <a id="chats" class="material-icons" style="float: right;">close</a>
            <form id="chat_form" method="POST" style="height: calc(100% - 15px);">
                {% csrf_token %}
                <div class="input-field" style="margin-bottom: 0;">
                    {{ form.name }}
                    <label for="id_name">{{form.name.label}}</label>
                </div>
                <div class="input-field" style="overflow-y: auto; margin-top: 0; max-height: calc(100% - 120px)">
                    {{ form.user_list }}
                </div>
                <button type="submit" id="chat_submit" class="btn waves-effect">
                    Создать чат
                </button>
            </form>
        </div>

        <div id="messagebox_container" class="col">
            <div class="title">
                <div id="current_user_data" class="col s12">
                </div>
            </div>

            <div id="box" class="col s12">
                <ul id="messages">
                </ul>
                <div class="message-input">
                    <div class="row">
                        <span id="preview_image"></span>
                    </div>

                    <div class="file-field">
                        {% csrf_token %}
                        <span class="material-icons">attach_file</span>
                        <input id="chat_photo_input" type="file" accept="image/jpeg,image/png,image/gif">
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload one or more files">
                        </div>
                    </div>
                    <input id="chat_message_input" type="text">
                    <button id="message_submit" class="btn waves-effect">
                        <i class="material-icons" aria-hidden="true">send</i>
                    </button>
                    <a class="dropdown-trigger material-icons" data-target="smile_list" aria-hidden="true"
                        style="margin: 10px;">mood</a>
                    <div id='smile_list' class='dropdown-content'>
                        {% for smile in smiles %}
                        <img id="{{ smile.id }}" src="{{ smile.img.url }}" style="margin: 5px;">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .container {
        width: 100%;
        margin: 0;
        max-width: 4320px;
    }
</style>
<script src="{% static 'js/reconnecting-websocket.js' %}"></script>

<script>
    var accountId = "{{ request.user.id }}";
    var uploadImageUrl = "{% url 'upload' %}";
    $('input:checked').closest("p").hide()
    $(document).ready(function () {
        $('#id_name').keyup(function () {
            if ($(this).val().length === 0) {
                $('#chat_submit').attr('disabled', true);
            } else {
                $('#chat_submit').attr('disabled', false);
            }
        })
        $('#chat_submit').click(function (e) {
            e.preventDefault();
            $.post('{% url "chat" %}', $('#chat_form').serialize()).done(function (data) {
                $('#chats_list').append(data);
                $('#accounts_list').hide()
                $('#chats_list').show()
            })
        });
    });
</script>
<script src="{% static 'js/chat-socket.js' %}"></script>

{% endblock content %}