{% extends "base.html" %}
{% load static %}

{% block title %}
Сообщения
{% endblock title %}

{% block content %}
<div id="chat_container" class="card">
    <div class="row">
        <div id="chats_list" class="col">
            <div class="row-section">
                <a href="{% url 'my_profile' %}">
                    <div class="col s3 center">
                        <img class="circle" src="{{ request.user.photo.url }}">
                    </div>

                    <div class="col s7">
                        <p>
                            {{ request.user.first_name }} {{request.user.last_name }}
                        </p>
                    </div>

                    <div class="col s2">
                        <a id="accounts" class="material-icons">add</a>
                    </div>
                </a>
            </div>
            {% for chat in chats %}
            <div id="recipient" class="section">
                <div class="row">
                    <a href="{% url 'room' chat.id %}" class="active">
                        <div id="{{ chat.id }}" class="flex-data">
                            <p>
                                {% if chat.name %}
                                group {{ chat.name }}
                                {% else %}

                                {% for user in chat.user_list.all %}

                                {% if user.id != request.user.id %}
                                <img id="{{user.username}}" class="circle online" src="{{ user.photo.url }}">
                                <p id="{{user.username}}">
                                    {{ user.first_name }} {{ user.last_name }}
                                </p>
                                {% endif %}

                                {% endfor %}

                                {% endif %}
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="accounts_list" class="col">
            <a id="chats" class="material-icons">close</a>
            <form id="chat_form" method="POST">
                {% csrf_token %}
                {{ form.name }}
                {{ form.user_list }}
                <button type="submit" id="chat_submit" class="btn waves-effect">
                    <i class="material-icons" aria-hidden="true">send</i>
                </button>
            </form>
        </div>

        <div id="messagebox_container" class="col">
            <div class="title">
                <div id="current_user_data" class="col s12">
                </div>
            </div>

            <div id="box" class="col s12">
                <ul id="messages">
                </ul>
                <div class="message-input">
                    <div class="row">
                        <span id="preview_image"></span>
                    </div>

                    <div class="file-field">
                        {% csrf_token %}
                        <span class="material-icons">attach_file</span>
                        <input id="chat_photo_input" type="file" accept="image/jpeg,image/png,image/gif">
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload one or more files">
                        </div>
                    </div>
                    <input id="chat_message_input" type="text">
                    <button id="message_submit" class="btn waves-effect">
                        <i class="material-icons" aria-hidden="true">send</i>
                    </button>
                    <a class="dropdown-trigger material-icons" data-target="smile_list" aria-hidden="true"
                        style="margin: 10px;">mood</a>
                    <div id='smile_list' class='dropdown-content'>
                        {% for smile in smiles %}
                        <img id="{{ smile.id }}" src="{{ smile.img.url }}" style="margin: 5px;">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .container {
        width: 100%;
        margin: 0;
        max-width: 4320px;
    }

    #smile_list {
        width: 250px !important;
    }

    #smile_list img {
        height: 70px;
        width: 70px;
    }

    body {
        background: linear-gradient(120deg, rgba(101, 163, 228, 1) 0%, rgba(23, 88, 157, 1) 45%, rgba(12, 69, 162, 0.8) 70%, rgba(55, 29, 140, 0.9) 100%);
    }
</style>
<script src="{% static 'js/main.js' %}"></script>

<script src="{% static 'js/reconnecting-websocket.js' %}"></script>

<script>
    document.querySelector('#accounts').onclick = function () {
        $('#chats_list').hide()
        $('#accounts_list').show()
    }

    document.querySelector('#chats').onclick = function () {
        $('#accounts_list').hide()
        $('#chats_list').show()
    }
</script>

<script>
    function handleFileSelectMulti(evt) {
        var files = evt.target.files;
        document.getElementById('preview_image').innerHTML = "";
        for (var i = 0, f; f = files[i]; i++) {
            var reader = new FileReader();

            reader.onload = (function (theFile) {
                return function (e) {
                    var span = document.createElement('span');
                    span.innerHTML = ['<img id="', escape(theFile.name),
                        '" class="img-thumbnail" src="', e.target.result, '">'].join('');
                    document.getElementById('preview_image').insertBefore(span, null);
                };
            })(f);
            reader.readAsDataURL(f);
        }
    }

    document.getElementById('chat_photo_input').addEventListener('change', handleFileSelectMulti, false);

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                var csrftoken = getCookie('csrftoken');
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    // send message or image
    function sendMessage(chatSocket, imgId) {
        var messageInputDom = document.querySelector('#chat_message_input');
        var message = messageInputDom.value;
        if (document.querySelector('#chat_message_input').value != '' || document.querySelector('#chat_photo_input').value != '') {
            chatSocket.send(JSON.stringify({
                'command': 'new_message',
                'message': message,
                'chat': chatId,
                'from': id,
                'imgId': imgId,
            }));
        }
        messageInputDom.value = '';
        $('#chat_photo_input').val('');
        $('#messagebox_container #preview_image').empty();
    }

    // send smile image
    document.querySelector('#smile_list').onclick = function (e) {
        var smile = e.target.id;
        chatSocket.send(JSON.stringify({
            'command': 'new_message',
            'chat': chatId,
            'from': id,
            'smileId': smile,
        }));
    };

    var chatId = {{ chat_id }};
    var id = {{ id }};

    var chatSocket = new ReconnectingWebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + chatId + '/'
    );

    chatSocket.onopen = function (e) {
        fetchMessages();
    }

    chatSocket.onmessage = function (e) {
        var data = JSON.parse(e.data);
        if (data['command'] === 'messages') {
            for (let i = 0; i < data['messages'].length; i++) {
                createMessage(data['messages'][i]);
            }
        } else if (data['command'] === 'new_message') {
            createMessage(data['message']);
        }
    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat_message_input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#message_submit').click();
        }
    };

    document.querySelector('#message_submit').onclick = function (e) {
        e.stopPropagation();
        e.preventDefault()
        var files = $('#chat_photo_input')[0].files[0]
        if (files) {
            var fd = new FormData();
            fd.append('img', files);
            $.ajax({
                url: "{% url 'upload' %}",
                type: "POST",
                cache: false,
                processData: false,
                contentType: false,
                data: fd,
                success: function (data) {
                    sendMessage(chatSocket, data.id);
                }
            });
        } else {
            sendMessage(chatSocket);
        }
    };

    function fetchMessages() {
        chatSocket.send(JSON.stringify({ 'command': 'fetch_messages' }));
    }

    function createMessage(data) {
        var author = data['author'];
        var msgListTag = document.createElement('li');
        var imgTag = document.createElement('img');
        imgTag.src = data['author_image'];
        imgTag.className = 'circle';
        var pTag = document.createElement('p');
        var spanTag = document.createElement('span');
        spanTag.textContent = data['content'];
        if (data.img) {
            var file = document.createElement('img');
            file.setAttribute('src', data.img)
            file.setAttribute('class', 'message-img')
            if (data.message) {
            }
            pTag.appendChild(file)
        }
        if (data.smile) {
            var file = document.createElement("img");
            file.setAttribute('src', data.smile)
            file.setAttribute('class', 'smile')
            pTag.appendChild(file)
        }
        if (author === id) {
            msgListTag.className = 'sent';
        } else {
            msgListTag.className = 'replies';
        }
        pTag.appendChild(spanTag)
        msgListTag.appendChild(imgTag);
        msgListTag.appendChild(pTag);
        document.querySelector('#messages').appendChild(msgListTag);
        $('#messages').scrollTop(9999)
    }
    $('.sidenav').removeClass('sidenav-fixed')
</script>
{% endblock content %}