<!DOCTYPE html>
<html>
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>
        {% block title %}
        MyFreends
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/png">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>

</head>

<body>

    {% if user.is_authenticated %}
    <ul id="slide-out" class="sidenav sidenav-fixed">
        <li>
            <div class="user-view">
                <div class="row">
                    <a href="{% url 'my_profile' %}">
                        <div class="col s4">

                            {% if request.user.photo %}
                            <img class="circle" src="{{ request.user.photo.url }}">
                            {% elif request.user.gender == "Male" %}
                            <img class="circle" src="{% static 'css/images/no_image_man.png' %}">
                            {% else %}
                            <img class="circle" src="{% static 'css/images/no_image_woman.png' %}">
                            {% endif %}

                        </div>

                        <div class="col s8">
                            <span class="name">{{ request.user.first_name }} {{ request.user.last_name }}</span>
                        </div>
                    </a>
                </div>
            </div>
        </li>

        <li><div class="divider"></div></li>

        <li>
            <a class="waves-effect" href="{% url 'my_profile' %}">
                <i class="material-icons">home</i>
                Мой профиль
            </a>
        </li>

        <li>
            <a class="waves-effect" href="{% url 'chat' %}">
                <i class="material-icons">chat</i>
                Сообщения
            </a>
        </li>

        <li><div class="divider"></div></li>

        {% if request.user.is_staff %}
        <li>
            <a class="waves-effect" href="/admin/">
                <i class="material-icons">supervisor_account</i>
                Администрация сайта
            </a>
        </li>
        {% endif %}

        <li><a href="{% url 'signout' %}">Выйти</a></li>
    </ul>
    <a class="sidenav-trigger" href="#" data-target="slide-out"><i class="material-icons">menu</i></a>
    {% endif %}

    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>

    <script src="{% static 'js/materialize.jquery.js' %}"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>
</body>

</html>